@model StudentAffairs.Dtos.SchoolInfo.SchoolInfoDto
@using StudentAffairs.Enums

@using StudentAffairs.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + " بيانات مدرسة  ";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = "بيانات المدرسة";

}
@using (Html.BeginForm(action, "SchoolInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @if ((Role)TempData["RoleId"] == Role.Super_Admin)
                {
                    @Url.BackToList()
                }
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("اسم المدرسة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    <div class="row">
                        <div class="form-group mb-3 col-sm-6">
                            @Html.Label("لوجو المدرسة", htmlAttributes: new { @class = "control-label" })
                            <div class="col-12">
                                <input type="file" name="Image1" id="Image1" accept="image/*" class="form-control" onchange="loadFile(event)" />

                                @*@Html.Editor("Image1", new { htmlAttributes = new { @class = "form-control", type = "file", accept = "image/*" } })*@
                                @Html.ValidationMessage("Image1", "", new { @class = "text-danger" })
                            </div>
                            @if (Model.Id == Guid.Empty)
                            {
                                <img id="output" height="100" width="100" style="display:none" />
                            }
                            else
                            {
                                <img id="output" height="100" width="100" src="@Model.Image" />
                            }
                        </div>

                    </div>
                </div>

                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("المحافظة ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("CityId", null, "--اختر--", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("مدير المدرسة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.SchoolPrincipal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolPrincipal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الادارة ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("CityDepartmentId", null, "--اختر--", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                @*<div class="form-group mb-3 col-sm-6">
                        @Html.Label("الادارة ", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.Administration, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Administration, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("وكيل شؤون الطلبة ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.StudentAffairsOfficer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StudentAffairsOfficer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الاخصائي الاجتماعي ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.SocialWorker, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.SocialWorker, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("العام الدراسي ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.StudyYear, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.StudyYear, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">

                @Url.SubmitCreate()

            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#CityId").change(function () {
            $.get('/SchoolInfo/getCityDepartments', { Id: $("#CityId").val() }, function (data) {
                $("#CityDepartmentId").empty();
                $("#CityDepartmentId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#CityDepartmentId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
    </script>
}