@model IEnumerable<StudentAffairs.Dtos.Students.StudentsDto>
@using StudentAffairs.Utilities
@using StudentAffairs.Enums
@{
    ViewBag.Title = "ادارة السجلات ";

}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">@ViewBag.Title  </h2>
            @if (ViewBag.userscreens.ToString().Contains(",13,"))
            {
                <p class="col-auto">
                    <a href='/Students/DownloadExcel' class='btn btn-soft-primary  waves-effect waves-light px-4'><i class="fas fa-file-excel me-3"></i> تحميل الاكسيل</a>
                </p>
                <p class="col-auto">
                    <a href='/Students/Create' class='btn btn-soft-primary  waves-effect waves-light px-4'><i class="fas fa-plus me-3"></i> اضافة طالب جديد</a>
                </p>
                <p class="col-auto">
                    <button onclick="excel()" class='btn btn-soft-primary  waves-effect waves-light px-4'><i class="fas fa-list-alt me-3"></i> استيراد البيانات</button>
                </p>

            }
        </div>
    </div>
    @using (Html.BeginForm("Index", "Students", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            <div class="row mt-3">
                @if ((Role)TempData["RoleId"] == Role.Super_Admin)
                {
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("المدرسة ", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownList("SchoolId", new SelectList(ViewBag.Schools, "Id", "Name"), "--اختر--", new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="SchoolId" name="SchoolId" value="@TempData["SchoolId"]" />
                }
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label(" كود/ الاسم /الرقم القومي للطالب", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Code", new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })*@
                    </div>
                </div>

            </div>
            <div class="row justify-content-end">
                <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>
            </div>
        </div>

    }
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                @using (Html.BeginForm("ImportExcel", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="row">
                            @if ((Role)TempData["RoleId"] == Role.Super_Admin)
                            {
                                <div class="form-group mb-3 col-sm-6">
                                    @Html.Label("المدرسة ", htmlAttributes: new { @class = "control-label" })
                                    <div class="col-12">
                                        @Html.DropDownList("SchoolId", new SelectList(ViewBag.Schools, "Id", "Name"), "--اختر--", new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" id="SchoolId" name="SchoolId" value="@TempData["SchoolId"]" />
                            }
                            <div class="form-group mb-3 col-sm-6">
                                @Html.Label("شيت الاكسيل ", htmlAttributes: new { @class = "control-label" })
                                <div class="col-12">
                                    <input type="file" class="form-control" name="upload" id="upload" accept=".xlsx,.xls" required />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">

                            @Url.SubmitCreate()

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive  nowrap w-100 table-bordered ">
            <thead class="bg-soft-primary">
                <tr>
                    <th>
                        @Html.DisplayName("الرقم التسلسلي")
                    </th>
                    <th>
                        @Html.DisplayName("الكود")
                    </th>
                    <th>
                        @Html.DisplayName("الاسم")
                    </th>
                    <th>
                        @Html.DisplayName("رقم التليفون")
                    </th>

                    <th>
                        @Html.DisplayName("الصورة الشخصية")
                    </th>
                    <th>
                        @Html.DisplayName("تاريخ الميلاد")
                    </th>
                    <th>
                        @Html.DisplayName("النوع")
                    </th>

                    <th>
                        @Html.DisplayName("عمليات")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>

                        <td>
                            <img src="@item.Image" width="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderName)
                        </td>

                        <td>
                            <button type="button" onclick="QrCode('@item.Id')" title='طباعة كيو ار كود' class='btn btn-soft-primary  waves-effect waves-light p-2'><i class="fas fa-print"></i></button>
                            <a href='/Students/Graduated?Id=@item.Id' title='تخرج من المدرسة' class='btn btn-soft-warning  waves-effect waves-light p-2'><i class="fas fa-graduation-cap"></i></a>
                            <a href='/Students/Transfered?Id=@item.Id' title='محول من المدرسة' class='btn btn-soft-secondary  waves-effect waves-light p-2'><i class="fas fa-user-slash"></i></a>
                            @Url.Edit(routeValues: new { id = item.Id })
                            @Url.Delete(routeValues: new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<img src="@TempData["QrCodeUri"]" width="100" />*@
    </div>


</div>
<div id="QrDiv" style="display:none">
    <div class="card">
        <div class="card-body">
            <input id="StudentId" name="StudentId" value="" hidden />
            <div class="row">
                <div class="form-group mb-3 col-sm-2 d-flex justify-content-center">
                    <img class="form-control" id="StudentImage" height="100" width="100" />
                </div>
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="StudentName">
                    <input class="form-control"  />

                </div>
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="LevelName">
                    <input class="form-control"  />

                </div>
                @*<div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="ClassName">
            <input class="form-control" id="ClassName" />

        </div>*@
                <div class="form-group mb-3 col-sm-10 d-flex justify-content-center">

                </div>
                <div class="form-group mb-3 col-sm-2 d-flex justify-content-center">
                    <img class="form-control" id="QrCodeUri" height="100" width="100" />

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        $("#StudyTypeId").change(function () {
            $.get('/Students/getLevels', { Id: $("#StudyTypeId").val() }, function (data) {
                $("#LevelId").empty();
                $("#LevelId").append("<option>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#LevelId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        $("#LevelId").change(function () {
            $.get('/Students/getClasses', { Id: $("#LevelId").val() }, function (data) {
                $("#ClassId").empty();
                $("#ClassId").append("<option>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#ClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        function excel() {
            $("#exampleModal").modal('show');
        }
        //if (document.getElementById("StudentId").value != "") {
        //    QrCode();
        //}
        function QrCode(Id) {
            document.getElementById("QrDiv").style.display = "block";
            $.get('/Students/QrPage', { Id: Id }, function (data) {

                var StudentImage = document.getElementById("StudentImage");
                StudentImage.src = data.StudentImage;

                $("#StudentName").empty();
                $("#StudentName").append(data.StudentName);

                $("#LevelName").empty();
                $("#LevelName").append(data.LevelName);

                var QrCodeUri = document.getElementById("QrCodeUri");
                QrCodeUri.src = data.QrCodeUri;

                document.getElementById("QrDiv").style.display = "block";

                var printContents = document.getElementById("QrDiv").innerHTML;

                // Store the original body content
                var originalContents = document.body.innerHTML;

                // Replace the body content with the div's content
                document.body.innerHTML = printContents;

                // Trigger the browser's print dialog
                window.print();

                // Restore the original body content
                document.body.innerHTML = originalContents;
                document.getElementById("QrDiv").style.display = "none";
            });
            
        }
        function printDiv() {
            //let divContents = document.getElementById("GFG").innerHTML;
            let printWindow = window.open('', '', 'height=500, width=500');
            printWindow.document.open();
            printWindow.document.write(`
                <html>
                <head>
                    <title>Print Div Content</title>
                    <style>
                        body { font-family: Arial, sans-serif; }
                        h1 { color: #333; }
                    </style>
                </head>
                <body>
                     <div class="card">
        <div class="card-body">
            <input id="StudentId" name="StudentId" value="`+StudentId+`" hidden />
            <div class="row">
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="StudentImage">
                    <img class="form-control" src="StudentImage" width="100" />
                </div>
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="StudentName">
                    <input class="form-control" value="StudentName" />

                </div>
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="LevelName">
                    <input class="form-control" value="LevelName" />

                </div>
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="ClassName">
                    <input class="form-control" value="ClassName" />

                </div>
                <div class="form-group mb-3 col-sm-12 d-flex justify-content-center" id="QrCodeUri">
                    <img class="form-control" src="QrCodeUri" width="100" />

                </div>
            </div>
        </div>
    </div>
                </body>
                </html>
            `);
            printWindow.document.close();
            printWindow.print();
        }
</script>
}
