@model IEnumerable<StudentAffairs.Models.City>
@using StudentAffairs.Utilities
@{
    ViewBag.Title = "ادارة المحافظات ";

}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">  </h2>
            <p class="col-auto">
                @Url.Create()
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive  nowrap w-100 table-bordered">
            <thead class="bg-soft-primary">
                <tr>

                    <th>
                        @Html.DisplayName("اسم المحافظة")
                    </th>
                    <th>
                        @Html.DisplayName("ملاحظات")
                    </th>
                    <th>
                        @Html.DisplayName("عمليات")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            <button type="button" onclick='Copy("@item.Id")' class='btn btn-soft-warning  waves-effect waves-light px-4'><i class="fas fa-copy me-3"></i> </button>
                            <input type="hidden" id="@item.Id" name="@item.Id" value="@item.Id" />

                            @Url.Edit(routeValues: new { id = item.Id })
                            @Url.Delete(routeValues: new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts{
    <script>
        function Copy(Id) {
            var copyText = document.getElementById(Id);

            // Select the text field
            copyText.select();

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);

            // Alert the copied text
            alert("Copied the text: " + copyText.value);
        }
    </script>
}