@model IEnumerable<StudentAffairs.Dtos.Students.StudentsDto>
@using StudentAffairs.Utilities
@using StudentAffairs.Enums

@{
    ViewBag.Title = "تقييمات الطلاب";

}
@section Styles{
    <style>
        body {
            font-family: "Tahoma", Arial, sans-serif;
            direction: rtl;
            margin: 10px;
        }

        .page {
            width: 100%;
            margin: 0 auto;
        }

        .header {
            text-align: center;
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 1.7;
        }

        .title {
            font-size: 15px;
            font-weight: bold;
            color: #c00;
        }

        .subtitle {
            font-size: 15px;
            color: #0056b3;
            font-weight: bold;
        }

        .small-input {
            display: inline-block;
            min-width: 150px;
            border-bottom: 1px solid #000;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            font-size: 12px;
        }

        th, td {
            border: 1px solid #000;
            text-align: center;
            padding: 2px;
        }

        th {
            font-weight: bold;
        }

        /* column colors (approx like your sheet) */
        .col-index {
            background-color: #00c8d7;
            width: 30px;
        }

        .col-name {
            background-color: #f6c49b;
            width: 160px;
        }

        .month-header {
            background-color: #bdefff;
        }

        .month-subheader1 {
            background-color: #ccf3ff;
        }

        .month-subheader2 {
            background-color: #daf5ff;
        }

        .month-subheader3 {
            background-color: #e0ffd4;
        }

        .right-group-1 {
            background-color: #bdefff;
        }

        .right-group-2 {
            background-color: #fbd4c6;
        }

        .marks-row {
            font-weight: bold;
            font-size: 11px;
        }

        .vertical-text {
            writing-mode: vertical-rl;
            transform: rotate(180deg); /* for RTL vertical */
            white-space: nowrap;
        }

        .students-row td {
            height: 22px;
        }

        @@page {
            size: A4 landscape;
            margin: 10mm;
        }
    </style>


}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">@ViewBag.Title  </h2>

        </div>
    </div>
    @using (Html.BeginForm("Index", "StudentAssessments", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        if ((Role)TempData["RoleId"] == Role.Super_Admin)
        {
            <div class="card-body">
                <div class="row mt-3">

                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("المدرسة ", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownList("SchoolId", new SelectList(ViewBag.Schools, "Id", "Name"), "--اختر--", new { @class = "form-control" })
                        </div>
                    </div>


                </div>
                <div class="row justify-content-end">
                    <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" id="SchoolId" name="SchoolId" value="@TempData["SchoolId"]" />
        }

    }
</div>
<div class="card">
    <div class="card-body">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-8"><img src="/Uploads/Picture1.png" width="100" /></div>
            <div class="col-sm-4 ">
                <div class="col-12">مديرية التربية والتعليم بمحافظة أسيوط</div>
                <div class="col-12">إدارة <span class="small-input"> &nbsp;</span></div>
                <div class="col-12">مدرسة <span class="small-input"> &nbsp;</span></div>

            </div>

        </div>
        <div class="row mt-4">
            <div class="col-sm-4">
                <div class="month-header" style=" font-size: 15px">فصل :  <span class="small-input">  &nbsp;</span></div>
            </div>
            <div class="col-sm-4 ">
                <div class="title">سجل التقييم لمادة <span class="small-input">&nbsp;</span></div>
                <div class="subtitle">الفصل الدراسي <span class="small-input">&nbsp;</span></div>
            </div>
            <div class="col-sm-4">
            </div>


        </div>
        <table class="mt-4">
            <thead>
                <!-- Row 1 – big groups -->
                <tr>
                    <th rowspan="3" class="col-index">
                        <div class="vertical-text">م</div>
                    </th>
                    <th rowspan="3" class="col-name">أسماء الطلاب</th>

                    <!-- 3 months groups -->
                    <th colspan="5" class="month-header">شهر ______</th>
                    <th colspan="5" class="month-header">شهر ______</th>
                    <th colspan="5" class="month-header">شهر ______</th>

                    <!-- right side group -->
                    <th rowspan="2" class="right-group-1">
                        <div class="vertical-text">اختبار شهر</div>
                    </th>
                    <th rowspan="2" class="right-group-1">
                        <div class="vertical-text">اختبار شهر</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">متوسط التقييمات</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">متوسط سلوك ومواظبة</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">متوسط كشكول وواجب</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">الاختبارات الشهرية</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">درجة أعمال السنة</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">اختبار نصف العام</div>
                    </th>
                    <th rowspan="2" class="right-group-2">
                        <div class="vertical-text">درجة الترم الأول</div>
                    </th>
                </tr>

                <!-- Row 2 – sub headers for every month -->
                <tr>
                    <!-- month 1 -->
                    <th class="month-subheader1"><div class="vertical-text">التقييم الأول</div></th>
                    <th class="month-subheader1"><div class="vertical-text">التقييم الثاني</div></th>
                    <th class="month-subheader1"><div class="vertical-text">التقييم الثالث</div></th>
                    <th class="month-subheader1"><div class="vertical-text">الكشكول والواجب</div></th>
                    <th class="month-subheader1"><div class="vertical-text">سلوك ومواظبة</div></th>

                    <!-- month 2 -->
                    <th class="month-subheader2"><div class="vertical-text">التقييم الأول</div></th>
                    <th class="month-subheader2"><div class="vertical-text">التقييم الثاني</div></th>
                    <th class="month-subheader2"><div class="vertical-text">التقييم الثالث</div></th>
                    <th class="month-subheader2"><div class="vertical-text">الكشكول والواجب</div></th>
                    <th class="month-subheader2"><div class="vertical-text">سلوك ومواظبة</div></th>

                    <!-- month 3 -->
                    <th class="month-subheader3"><div class="vertical-text">التقييم الأول</div></th>
                    <th class="month-subheader3"><div class="vertical-text">التقييم الثاني</div></th>
                    <th class="month-subheader3"><div class="vertical-text">التقييم الثالث</div></th>
                    <th class="month-subheader3"><div class="vertical-text">الكشكول والواجب</div></th>
                    <th class="month-subheader3"><div class="vertical-text">سلوك ومواظبة</div></th>
                </tr>

                <!-- Row 3 – marks row (15 / 10 ... إلخ) -->
                <tr class="marks-row">
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>10</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>10</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>10</td>

                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>10</td>
                    <td>30</td>
                    <td>70</td>
                    <td>30</td>
                    <td>100</td>
                </tr>
            </thead>

            <tbody>
                @{ int i = 1;}
                <!-- example 10 empty student rows – add as many as you need -->
                <!-- you can put student names in the second column -->
                <!-- Row template -->
                <!-- ملاحظة: غيّر العدد كما تحب -->
                <!-- 1 -->
                @foreach (var item in Model)
                {
                    <tr class="students-row">
                        <td>@i</td>
                        <td>@item.Name</td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                        <td><input class="" style="border: none; max-width: 40px !important;" /></td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>

    </div>


</div>