@model StudentAffairs.Models.Class
@using StudentAffairs.Enums
@using StudentAffairs.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + " فصل  ";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = "الفصول";

}
@using (Html.BeginForm(action, "Classes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                @if ((Role)TempData["RoleId"] == Role.Super_Admin)
                {
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("المدرسة ", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.SchoolId, new SelectList(ViewBag.Schools,"Id","Name"), "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="SchoolId" name="SchoolId" value="@TempData["SchoolId"]" />
                }
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الصف ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.LevelId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الفصل", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                @if (Model.Id == Guid.Empty)
                {
                    @Url.SubmitAdd()
                }
                else
                {
                    @Url.SubmitSave()
                }
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}